/* ESTILO DO MENU */

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #FFF!important;
    background-color: rgb(192, 169, 133);
    border-radius: 15px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: rgba(20, 211, 36, 0.705)!important;
}

.studio {
    text-decoration: none;
    color: #fff;
}

.studio:hover {
    color: #FFF!important;
    background-color: rgb(192, 169, 133);
    border-radius: 10px;
}

nav a {
    color: #fff;
}

.centralizar {
    position: absolute;
    margin-top: 150px!important;
    color: #FFF!important;
}


/* background-color: rgb(192, 169, 133); */

.navbar {
    background-color: #312b2be1;
    box-shadow: 0px 10px 30px #000;
}


/*------------------------------- FIM DO ESTILO DO MENU----------------------------- */

.fundoBg {
    height: 650px;
    background-image: url(../img/10.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.font1 {
    font-family: 'Comfortaa', cursive;
}

.font2 {
    font-family: 'DM Mono', monospace;
}

.font3 {
    font-family: 'Cinzel Decorative', cursive;
}

.section2 {
    background-color: rgb(255, 255, 255);
}

.mt {
    margin-top: 30px;
}

.section3 {
    min-height: 760px;
    background-image: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.margem {
    min-height: 65px;
}

.section4 {
    background-color: #000;
    background-image: url(../img/fundo2.jpg);
    min-height: 660px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.section-galeria {
    background-color: #000;
    background-image: url(../img/fundo2.jpg);
    min-height: 660px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.dark * {
    color: #fff;
}

#escuro_cor * {
    color: #000;
}

.section5 {
    background-image: url(../img/fundo3.jpg);
    min-height: 660px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.section6 {
    min-height: 400px;
    background-color: #000;
}